html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#body {
  min-height: 100%;
  position: relative;
}
#header {
  background: #202124;
  border-bottom: 3px solid #E6E6E6;
  padding: 2px;
}
#header * {
  color: #A3A3A3;
  margin: 1px;
}
#header h1,#header h2 {
  margin-left: 7%;
  display: inline;
}
#Twitter {
  color: #1D9BF0;
}
#Discord {
  color: #5865F2;
}
#header a {
  text-decoration: none;
}
.rep {
  font-size: 0;
}
.rep:after {
  font-size: 24px;
  content: "ley@bra";
}
